body {
  background-color: rgb(246, 218, 241);
}

h1 {
  color: rgb(216, 67, 117);
  text-align: center;
}
h2 {
  color:rgb(235, 171, 181);
}
.para{
  
  font-size: 18px;
}
.pou{
  color: red;
}
h4{
  color:rgb(235, 171, 181);
}
ul li{
  color: rgb(178, 166, 166);
  margin: 5px 0;
}

p {
  font-family: verdana;
  font-size: 20px;
}